.container_detail_accounts {
    margin-top: 50px;
}

.link_navbar {
    text-decoration: none;
    color: #000000;
}

.navbar {
    background-color: #00FF7F !important;
}

.card_header {
    background-color: #00FF7F !important;
}