.container_detail_accounts {
    margin-top: 50px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_navbar {
    text-decoration: none;
    color: #000000;
}

.navbar {
    background-color: #00FF7F !important;
}

.card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card_header {
    background-color: #00FF7F !important;
}