.container_find_form {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: auto;
}

.button_find:hover {
    background-color: #00FF7F;
    border-color: #00FF7F;
    color: #000000;
}

.button_find {
    background-color: #00FF7F !important;
    border-color: #00FF7F !important;
    color: #000000 !important;
}