<main>
    <app-nav-bar></app-nav-bar>
    <section class="mx-auto p-2 border border-black rounded login-form-container">
        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CPF</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Entar</button>
            </div>
        </form>
    </section>
</main>