.navbar {
    background-color: #00FF7F;
    top: 0;
    position: fixed;
    width: 100%;
}

.list-navbar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.list-dropdown {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #000000;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}